<ion-toolbar primary *navbar>
  <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>
    Register
  </ion-title>
</ion-toolbar>


<ion-content padding class="signup">
  <ion-item>
    <ion-label>
      <div align="center"><span class="header">Register</span><br/>
      <div class="iconlogin"><ion-icon name="person-add"></ion-icon></div>
      </div>
    </ion-label>
  </ion-item>

  <form [formGroup]="signupForm" (ngSubmit)="signupUser($event)" novalidate>
     
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input #email formControlName="email" type="email"
        placeholder="Email"
        [class.invalid]="!signupForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <ion-label><p>Please enter a valid email.</p></ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input #password formControlName="password" type="password"
        placeholder="Password"
        [class.invalid]="!signupForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && (passwordChanged || submitAttempt)">
        <ion-label><p>Your password needs more than 6 characters.</p></ion-label>
    </ion-item>

    <ion-button expand="block" type="submit">
      Create an Account
    </ion-button>

  </form>
  <div align="center">
    <ion-button size="small" fill="clear" (click)="goToLogin()">
      Back
    </ion-button>

    
</div>

</ion-content>